COMPOSE_PROJECT_NAME=bd-creator
APP_ENV=prod
APP_DEBUG=false
APP_LOG_LEVEL=INFO

SHARED_SECRETS_DIR=/opt/stacks/_shared/secrets
TRAEFIK_PROXY_NETWORK=proxy
API_DOMAIN=bd-api.animation-messe.fr
WEB_DOMAIN=bd.animation-messe.fr

SESSION_SECRET_KEY=change-me
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=lax

DB_HOST=postgres
DB_PORT=5432
DB_NAME=bd_creator
DB_USER=app_bd
DB_PASSWORD=change-me

AUTH_MODE=keycloak
USER_SCHEMA=users
USER_TABLE=users

KEYCLOAK_SERVER_URL=https://auth.example.com
KEYCLOAK_REALM=carthographie
KEYCLOAK_CLIENT_ID=app_bd
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_REDIRECT_URI=https://bd-api.animation-messe.fr/auth/callback
KEYCLOAK_LOGOUT_REDIRECT_URI=https://bd.animation-messe.fr/
KEYCLOAK_SCOPES=openid profile email

S3_ENDPOINT_URL=https://s3.example.com
S3_REGION=eu-west-3
S3_ACCESS_KEY=change-me
S3_SECRET_KEY=change-me
S3_BUCKET=bd-assets
S3_USE_SSL=true

SHARED_DB_NETWORK=backend
API_BIND_PORT=8000
WEB_BIND_PORT=5173
